<h1>Lista seansow</h1>
<form method="get" action="." >
    <select name="film">
         {% for f in object_list.filmy %}
          <option value="{{ f.id }}">{{ f.nazwa }}</option>
         {% endfor %}
    </select>
    <button type="submit">Szukaj</button>
    <a href="{% url 'lista-seansow' %}" class="btn btn-secondary">Resetuj</a>
</form>
 <ul> 
    <!-- Iterate over object_list -->
    {% for seans in object_list.seanse %} 
    <!-- Display Objects -->
    <li><a href="{{seans.id}}">{{ seans.termin }} </br> "{{ seans.film.nazwa }}" </br> Sala: {{seans.sala.nazwa}}</a></li>
    <img src="{{ seans.film.plakat.url }}" alt="{{ seans.film.nazwa }} plakat">  
     <hr/> 
    <!-- If object_list is empty  -->
    {% empty %} 
    <li>Nie ma seansow</li> 
    {% endfor %} 
</ul>

